version: "3.3"

services:
  nginx_1:
    container_name: nginx_1
    restart: always
    build: ./nginx_1
    volumes:
      - /var/www/ThalosCinemaSystem/staticfiles:/var/www/ThalosCinemaSystem/staticfiles
      - /var/www/ThalosCinemaSystem/mediafiles:/var/www/ThalosCinemaSystem/mediafiles
      - /var/www/majkelpc:/var/www/majkelpc
    ports:
      - "8080:8080"
    networks:
      - nginx_network

  varnish:
    restart: always
    container_name: varnish
    build: ./varnish
    volumes:
      - ./varnish/default.vcl:/etc/varnish/default.vcl
    ports:
      - "80:80"
    tmpfs:
      - /var/lib/varnish:exec
    command: "-p default_keep=300"
    depends_on:
      - nginx_1
    environment:
      - VARNISH_SIZE=2G
    networks:
      - nginx_network

networks:
  nginx_network:
    external: true
